  <!DOCTYPE html>
  <html lang="en">
    
                        
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>MediPlus</title>

      <!-- Bootstrap core CSS -->
      <script type="text/javascript" src="angular.js"></script>
      
      <script type="text/javascript" src="js_login/app2.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript">var rootApp = angular.module('rootApp',['dw','log'])</script>

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="css/heroic-features.css">
      <link rel="stylesheet" href="test3css.css">

    </head>

      <body ng-app = "rootApp">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" ng-app="log">
          <div class="container" ng-controller = "Ctrl2">
            <img src="mediplus.jpg" alt="logo" height="30" width="100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="symptom.html">Symptom Checker</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item" ng-if="vari">
                  <a class="nav-link" data-toggle="modal" data-target="#myModal4" ng-click = "patient()">know your progress</a>
                </li>
                <li class="nav-item" ng-if="vari">
                  <a class="nav-link" data-toggle="modal" data-target="#myModal5" ng-click = "doctor()  ">know your patients</a>
                </li>
                <li class="nav-item" ng-if="!vari">
                  <a data-toggle="modal" href="#myModal" class="nav-link">Register Free</a>
                </li>
                <li class="nav-item" ng-if="!vari">
                  <a class="nav-link" data-toggle="modal" data-target="#login-modal" ng-click = "see()">Login as patient</a>
                </li>
                <li class="nav-item" ng-if="!vari">
                  <a class="nav-link" data-toggle="modal" data-target="#login-modal2" ng-click = "doctor()">Login as doctor</a>
                </li>
                <li class="nav-item" ng-if="vari">
                  <a class="nav-link" href="php_login/log_out.php">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--login part-->


<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <form>
          <input type="text" name="user" placeholder="Username">
          <input type="password" name="pass" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          
          <div class="login-help">
          <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
      </div> -->

      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="center">
                        <img class="img-circle" id="img_logo" src="mediplus.jpg" alt="logo">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                    
                        <!-- Begin # Login Form -->
                        <form id="login-form" action = "php_login/start.php" action = "GET">
                            <div class="modal-body" ng-controller="Ctrl3">
                                <div id="div-login-msg">
                                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                    <span id="text-login-msg">Type your email and password.</span>
                                </div>
                                <input id="login_username" class="form-control" type="email" placeholder="email (type ERROR for error effect)" name = "contact_name">
                                <input id="login_password" class="form-control" type="password" placeholder="Password" name  = "pass">
                                <div class="checkbox">
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                </div>
                                <div>
                                <!-- End # Login Form -->
                        
                        <!-- Begin | Lost Password Form -->
                                </div>
                            </div>
                        </form>
                        <!-- End # Login Form -->
                        



                        

                        <!-- Begin | Lost Password Form -->
                        <!-- End | Lost Password Form -->
                        
                    </div>
                    <!-- End # DIV Form -->
                    
                </div>
            </div>
        </div>


        <div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="center">
                        <img class="img-circle" id="img_logo" src="mediplus.jpg" alt="logo">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                    
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                    
                        <!-- Begin # Login Form -->
                        <form id="login-form" action = "php_login2/start.php" action = "GET">
                            <div class="modal-body" ng-controller="Ctrl3">
                                <div id="div-login-msg">
                                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                    <span id="text-login-msg">Type your email and password.</span>
                                </div>
                                <input id="login_username" class="form-control" type="email" placeholder="email (type ERROR for error effect)" name = "contact_name">
                                <input id="login_password" class="form-control" type="password" placeholder="Password" name  = "pass">
                                <div class="checkbox">
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                </div>
                                <div>
                                <!-- End # Login Form -->
                        
                        <!-- Begin | Lost Password Form -->
                                </div>
                            </div>
                        </form>
                        <!-- End # Login Form -->
                        



                        

                        <!-- Begin | Lost Password Form -->
                        <!-- End | Lost Password Form -->
                        
                    </div>
                    <!-- End # DIV Form -->
                    
                </div>
            </div>
        </div>

       <!-- Page Content -->
      <div class="container" ng-app="dw">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">MEDIPLUS</h1>
          <p class="lead">Select Symptom Checker above for our site's basic use or Click register free to <br>get more advanced features</p>
<!--modal button-->
        <!--<a data-toggle="modal" href="#myModal" class="btn btn-primary">Register Free</a>-->
<!--main modal-->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"  >Choose</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div><div class="container"></div>
              <div class="modal-body">
               
                <a data-toggle="modal" href="#myModal2" class="btn btn-primary">User registration </a>
                <a data-toggle="modal" href="#myModal3" class="btn btn-primary" style="float:right;">Doctor registration</a>
              </div>
              
            </div>s
          </div>
      </div>
      <!-- modal 1-->
      <div class="modal" id="myModal2" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="container"></div>
              <div class="modal-body">
                   

                   <!--form patient-->
                     <div class="container">
              <form class="form-horizontal" role="form" action="register.php" method="GET">
              
                  <h4>Registration Form</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <div class="form-group">
                      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                      <div class="col-sm-9">
                          <input type="text" id="name" name = "name" placeholder="Full Name" class="form-control" autofocus>
                          <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-9">
                          <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                      </div>
                  </div>

                  <label for="password" class="col-sm-3 control-label">Password</label>
                      
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model = "pass">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password"ng-model = "pass2">
                      </div>
                      <span ng-if = "pass==pass2">Passwords match</span>
                    </div>
                  </div>


                  <div class="form-group">
                      <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                      <div class="col-sm-9">
                          <input type="text" id="dob" name="dob" class="form-control">
                      </div>
                  </div>
               
                  <div class="form-group">
                      <label class="control-label col-sm-3">Gender</label>
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" id="femaleRadio" value="f">Female
                                  </label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" name = "gender" id="maleRadio" value="m">Male
                                  </label>
                              </div>
                         </div>
                      </div>
                  </div>
                   <!-- /.form-group -->
                  Address
                  


                  <div class="dropdown" ng-controller = "Ctrl3">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > -->
                      State
                    <!-- </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                     -->  
                     <select name= "State"  value="state" ng-model = "select_state" ng-options = "x for x in empno" ng-change="see1()">
                     <option value="None">None</option>   
                      </select>
                      <br>

                      District
                      <select name= "State"  value="state" ng-model = "select_district" ng-options = "x for x in district" ng-change="see1()">
                     <option value="None">None</option>   
                      </select>

                    </div>
                  </div>
                  <br><br>
                  <div class="form-group col-md-6 col-sm-6">
                      <label for="mobile">Mobile</label>
                      <input type="text" id="phone" name="phone" class="form-control input-sm" id="mobile" placeholder="">
                  </div>
                
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="submit" class="btn btn-primary btn-block">Register</button>
                      </div>
                  </div>
              </form> <!-- /form -->
          </div> <!-- ./container -->
          <!--form end-->
              </div>
              
            </div>
          </div>
      </div>


      <div class="modal" id="myModal3" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="container"></div>
              <div class="modal-body">
                   

                   <!--form patient-->
                     <div class="container">
              <form class="form-horizontal" role="form" action="register2.php" method="GET">
              
                  <h4>Registration Form</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <div class="form-group">
                      <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                      <div class="col-sm-9">
                          <input type="text" id="name" name = "name" placeholder="Full Name" class="form-control" autofocus>
                          <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Email</label>
                      <div class="col-sm-9">
                          <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                      </div>
                  </div>

                  <label for="password" class="col-sm-3 control-label">Password</label>
                      
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="pass">
                      </div>
                    </div>
                  
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password"
                        ng-model = "pass2">
                      </div>
                    </div>
                    <span ng-if = "pass==pass2">Passwords match</span>
                  </div>


                  <div class="form-group">
                      <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                      <div class="col-sm-9">
                          <input type="text" id="dob" name="dob" class="form-control">
                      </div>
                  </div>
               
                  <div class="form-group">
                      <label class="control-label col-sm-3">Gender</label>
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" id="femaleRadio" value="f">Female
                                  </label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" name = "gender" id="maleRadio" value="m">Male
                                  </label>
                              </div>
                         </div>
                      </div>
                  </div>
                   <!-- /.form-group -->
                  Address
                  


                  <div class="dropdown" ng-controller = "Ctrl3">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > -->
                      State
                    <!-- </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                     -->  
                     <select name= "State"  value="state" ng-model = "select_state" ng-options = "x for x in empno" ng-change="see1()">
                     <option value="None">None</option>   
                      </select>
                      <br>

                      District
                      <select name= "State"  value="district" ng-model = "select_district" ng-options = "x for x in district" ng-change="see1()">
                     <option value="None">None</option>   
                      </select>

                    </div>
                  </div>
                  <br><br>
                  <div class="form-group col-md-6 col-sm-6">
                      <label for="mobile">Mobile</label>
                      <input type="text" id="phone" name="phone" class="form-control input-sm" id="mobile" placeholder="">
                  </div>
                
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="submit" class="btn btn-primary btn-block">Register</button>
                      </div>
                  </div>
              </form> <!-- /form -->
          </div> <!-- ./container -->
          <!--form end-->
              </div>
              
            </div>
          </div>
      </div>



    
         
      </header>
  <div class="modal" id="myModal4" data-backdrop="static" ng-app="log">
    <div class="modal-dialog" ng-controller = "Ctrl2">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Your progress details</h4>
          </div>
          <div class="modal-body">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:{{per2}}%">
                {{per}}
              </div>
            </div>
            <strong>Name of disease<strong> : {{my_disease}}<br>
            <strong>Name of doctor<strong> : {{my_doctor}}
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <!--<a href="#" class="btn btn-primary">Save changes</a>-->
          </div>
        </div>
      </div>
  </div>

  <!-- <div class="modal" id="myModal5" data-backdrop="static" ng-app="log">
    <div class="modal-dialog" ng-controller = "Ctrl2">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Second Modal title</h4>
          </div>
          <div class="modal-body">
            <ul ng-repeat = "x in d_patient">
              <li>{{d_patient[$index]}}</li>
            </ul>
            

          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
          </div>
        </div>
      </div>
  </div> -->


  <div id="myModal5" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true" ng-app="log">
    <div class="modal-dialog modal-lg" ng-controller = "Ctrl2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <h4 class="modal-title" id="classModalLabel">
                Possible diseases
              </h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Patient</th>
                <th scope="col">Progress1</th>
                <th scope="col">Progress2</th>
                <th scope="col">Progress3</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "x in myprog1">
                <td>{{d_disease[$index]}}</td>
                <td>{{d_patient[$index]}}</td>
                <td>
                  <input type="checkbox" ng-model="checkboxModel.value1"></td>
                  <td><input type="checkbox" ng-model="checkboxModel.value2"></td>
                  <td><input type="checkbox" ng-model="checkboxModel.value3"></td>
                  <td><button type="button" ng-click = "submit_to($index)">submit</button></td>
                <!-- <td><input type="checkbox" name="progress2" value="1" ng-bind = "pr2[$index] = 1"></td>
                <td><input type="checkbox" name="progress3" value="1" ng-bind = "pr3[$index] = 1"></td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>


        <!-- Page Features -->
        <div class="row text-center">

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card c1">
              <img class="card-img-top" src="https://www.cloudally.com/wp-content/uploads/2013/12/Features.jpg" alt="features">
              <div class="card-body">
                
                <p class="card-text"><font color="red">For Free one time users</font></p>
                <p>
                  <ul>
                    <li> Tells users name of the disease from the given symptoms </li>
                    <li> Tells details of the given disease</li>
                  </ul>
                </p>
              </div>
              <div class="card-footer">
               <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
              </div>
            </div>
          </div>

         <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://www.cloudally.com/wp-content/uploads/2013/12/Features.jpg" alt="features">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text"><font color="red">For registered users</font></p>
                <p>
                  <ul>
                    <li>patient can know doctor corresponding to his disease</li>
                    <li>doctors can see their patients</li>
                    <li>patient can see his progress report</li> 
                  </ul>
                </p>
              </div>
              <div class="card-footer">
                <!--<a href="#" class="btn btn-primary">Find Out More!</a> -->
              </div>
            </div>
          </div>

         <!-- x <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/500x325" alt="">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
              </div>
            </div>
          </div>

         > <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/500x325" alt="">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
              </div>
            </div>
          </div>-->

        </div>
        <!-- /.row -->

      </div>
      
      <!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <a name="about"></a>
          <p>
            <font color="white">
            MediPlus site is created by MediPlus team consisting of four IIT Mandi students namely:
          </font>
          </p>
           <ul>
            <font color="white">
            <li> Kaustubh Verma </li> 
            <li> Akul Gupta </li>
            <li> Arpit Batra </li>
            <li> Rakshit Raj </li>
          </font>
          </ul>
          <p class="m-0 text-center text-white">Copyright &copy; MediPlus Team 2017</p>
         
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

  </html>
